# ----------------------------
# Секреты и конфиги
# ----------------------------
.env
credentials.json
*.key
*.pem

# ----------------------------
# Временные файлы
# ----------------------------
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# ----------------------------
# Логи и отладка
# ----------------------------
*.log
*.pot

# ----------------------------
# Виртуальные окружения
# ----------------------------
env/
venv/
ENV/

# ----------------------------
# Бинарные файлы / зависимости
# ----------------------------
*.whl
*.egg
*.so
*.dll
*.dylib

# ----------------------------
# Системные файлы
# ----------------------------
.DS_Store
desktop.ini
Thumbs.db

# ----------------------------
# Результаты сборки
# ----------------------------
dist/
build/
*.spec

# ----------------------------
# VS Code / PyCharm
# ----------------------------
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?